Program Assignment 1 Machine Learning

Problem and Task Understanding (30 points): Explain the problem you want to
solve, and be specific about the machine learning task, whether it is a classification
problem or regression problem.

We are given a dataset of student grades originating from different schools. The data collected ranges from the gender and age of the student to their frequency of absences alongside their grades. As most of the data is continuous, we will use regression to solve our problem of _______________________.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import seaborn as sns
%matplotlib inline

In [6]:
url = "Student Grade - Dataset.csv"
dataset = pd.read_csv(url)
dataset.sample(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
100,GP,M,16,U,GT3,T,4,4,services,services,...,4,5,5,5,5,4,14,7,7,5
273,GP,M,17,R,GT3,T,1,2,at_home,at_home,...,3,5,2,2,2,1,2,15,14,14
184,GP,F,16,U,GT3,T,3,2,other,other,...,1,2,2,1,2,1,14,12,13,12
201,GP,F,16,U,GT3,T,2,3,other,other,...,4,4,3,1,3,4,6,8,10,10
33,GP,M,15,U,LE3,T,3,3,other,other,...,5,3,2,1,1,2,0,8,10,12
79,GP,F,16,U,GT3,T,3,4,at_home,other,...,2,4,3,1,2,3,12,5,5,5
362,MS,F,18,U,GT3,T,3,3,services,services,...,4,3,2,1,3,3,0,11,11,10
72,GP,F,15,R,GT3,T,1,1,other,other,...,3,3,4,2,4,5,2,8,6,5
63,GP,F,16,U,GT3,T,4,3,teacher,health,...,3,4,4,2,4,4,2,10,9,9
54,GP,F,15,U,LE3,A,3,3,other,other,...,5,3,4,4,4,1,6,10,13,13